html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Montserrat', Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.header {
  max-width: 2050px;
  min-width: 320px;
  background-image: url(../img/photo.png);
  background-position: 15.4878% 52px;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
}
.header__item {
  display: flex;
  flex-wrap: wrap;
}
.users {
  background-color: #333333;
  padding:  0 19.5121%;
}
.users__block {
  display: flex;
}
.users__currency {
  margin:  0 auto 0 0;
  padding: 14px 17px 18px 17px;

}
.users__cart {
  height: 100%;
  margin: 0 0 0 4.0975%;
}
.currency__name {
  display: inline-block;
}
.currency__value {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px 0 11px;
}
.currency__icon {
  width: 8px;
  height: 8px;

}
.users__block {
  margin: 0 0 0 auto;
}
.register__link {
  display: block;
  padding: 14px 17px 18px 17px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.signin__link {
  display: block;
  padding: 14px 17px 18px 17px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.signin__link--hover:hover,
.signin__link--hover:focus {
  background-color: #00c8c8;
  outline: 0;
  color: #ffffff;
}
.register__link--hover:hover,
.register__link--hover:focus {
  background-color: #00c8c8;
  color: #ffffff;
  outline: 0;
}
.cart__link {
  display: block;
  height: 100%;
  padding: 14px 24px 18px 22px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  vertical-align: baseline;
}
.cart__icon {
  display: inline-block;
}
.cart__icon--margin path{
  fill: #999999;
}
.cart__icon--margin {
    margin-right: 16px;
}
.cart__state {
  display: inline-block;
}

.cart__img {
  width: 20px;
  height: 17px;
  vertical-align: middle;
}
.cart__basket {
  vertical-align: bottom;
}
.cart__arrow {
  margin-left: 5px;
}
.cart__link--hover:hover,
.cart__link--hover:focus  {
  background-color: #00c8c8;
  color: #ffffff;
  outline: 0;
}
.cart__link--hover:hover  path,
.cart__link--hover:focus  path {
  fill: #ffffff;
}
.currency {
  position: relative;
}
.currency__name {
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.currency__value {

  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.currency__dropdown {
  position: absolute;
  display: none;
  width: 50px;
  right: 29px;
  background:  #333333;
}
.currency__value--hover:hover {
  background: #00c8c8;
  color: #ffffff;
}
.currency:hover  .currency__dropdown {
  display: inline-block;
}
.nav {
  display: flex;
  padding: 38px 6.5853% 0 ;
  align-items: center;
  flex-wrap: wrap;

}
.logo__inner {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.logo__text--bold {
  font-weight: 700;
  letter-spacing: 1.2px;

}
.nav__inner {
  margin: 0 0 0 auto;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link {
  display: block;
  padding: 0 28px;
  color: #222222;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  cursor: default;

}
.nav__link:hover,
.nav__link:focus,
.nav__link--active {
    color: #00c8c8;
    outline: 0;
}

.nav__search {
  margin: 0 0 0 5.6097%;
}
.search__input {
  padding: 0 10px;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  color: #989898;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 27px;
}
.nav__dropdown {
  display: none;
}
.center {
  padding:  130px 12% 50px 12%;
}
.center__text {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  color:  #575153;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
}
.center__span {
  font-size: 25vw;
}
.center__span--left {
  margin:0 auto 0 0;
}
.center__span--right{
  margin:0 0 0 auto;
}
.center__span--center {
  margin: 0 auto;
}
.header-button {
  display: flex;
  padding: 0 15.7560%;
  padding-bottom: 122px;
}
.header-button__inner {
  margin: 0 0 0 auto;
}
.header-button__link--border {
  display: block;
  max-width: 342px;
  height: 100%;
  padding: 17px 32px;
  border: 2px solid #737373;
  color: #454647;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.0123vw;
  font-weight: 400;
  text-transform: uppercase;
}
@media screen
  and (min-device-width: 800px)
  and (max-device-width: 1350px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    background-position: 4.48780% 52px;
  }
    .users {
    }
    .users__currency {
    margin: 0 auto;
    }
    .users__block {
      margin: 0 auto;
    }
    .users__cart {
      margin: 0 auto;
    }
    .nav {
      position: relative;
      padding-top: 50px;
    }
    .nav__logo {
      position: absolute;
      right: 40%;
      top: 17px;
    }
    .nav__link {
      padding: 0 16px;
    }
    .nav__inner {
      margin: 0 auto 0 0;
    }
    .nav__list {

    }
    .nav__search {
      margin: 0 0 0 auto;
    }
  }

@media screen
  and (min-device-width: 320px)
  and (max-device-width: 801px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    background-image: none;
    background-position: 149.4878% 156px;
  }
  .users {
    flex-direction: column;
  }
  .users__currency {
  margin: 0 auto;
  }
  .users__block {
    margin: 0 auto;
  }
  .users__cart {
    margin: 0 auto;
  }
.nav {
  flex-direction: column;
}
.nav__logo {
  position: static;
  margin: 0 auto;
}
.logo__inner {
  text-align: center;
}
.nav__inner {
  margin: 0 auto;
}
.nav__list {
  flex-direction: column;
  align-items: center;

}
.nav__item {
  padding:  10px 0;

}
.nav__search {
  margin: 0 auto;
}
.center {
  padding-top:  0;
}
.header-button {
  display: block;
}
.header-button__link--border {
  width: 100%;
  margin: 0 auto;
}
