html {
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Montserrat', Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.header {
  max-width: 2050px;
  min-width: 320px;
  background-image: url(../img/photo.png);
  background-position: 15.4878% 52px;
  background-repeat: no-repeat;
  background-color: #f8f8f8;
}
.header__item {
  display: flex;
  flex-wrap: wrap;
}
.users {
  background-color: #333333;
  padding:  0 19.5121%;
}
.users__block {
  display: flex;
}
.users__currency {
  margin:  0 auto 0 0;
  padding: 14px 17px 18px 17px;

}
.users__cart {
  height: 100%;
  margin: 0 0 0 4.0975%;
}
.currency__name {
  display: inline-block;
}
.currency__value {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px 0 11px;
}
.currency__icon {
  width: 8px;
  height: 8px;

}
.users__block {
  margin: 0 0 0 auto;
}
.register__link {
  display: block;
  padding: 14px 17px 18px 17px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.signin__link {
  display: block;
  padding: 14px 17px 18px 17px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.signin__link--hover:hover,
.signin__link--hover:focus {
  background-color: #00c8c8;
  outline: 0;
  color: #ffffff;
}
.register__link--hover:hover,
.register__link--hover:focus {
  background-color: #00c8c8;
  color: #ffffff;
  outline: 0;
}
.cart__link {
  display: block;
  height: 100%;
  padding: 14px 24px 18px 22px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  vertical-align: baseline;
}
.cart__icon {
  display: inline-block;
}
.cart__icon--margin path{
  fill: #999999;
}
.cart__icon--margin {
    margin-right: 16px;
}
.cart__state {
  display: inline-block;
}

.cart__img {
  width: 20px;
  height: 17px;
  vertical-align: middle;
}
.cart__basket {
  vertical-align: bottom;
}
.cart__arrow {
  margin-left: 5px;
}
.cart__link--hover:hover,
.cart__link--hover:focus  {
  background-color: #00c8c8;
  color: #ffffff;
  outline: 0;
}
.cart__link--hover:hover  path,
.cart__link--hover:focus  path {
  fill: #ffffff;
}
.currency {
  position: relative;
}
.currency__name {
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.currency__value {

  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.currency__dropdown {
  position: absolute;
  display: none;
  width: 50px;
  right: 29px;
  background:  #333333;
}
.currency__value--hover:hover {
  background: #00c8c8;
  color: #ffffff;
}
.currency:hover  .currency__dropdown {
  display: inline-block;
}
.nav {
  display: flex;
  padding: 30px 6.5853% 0;
  align-items: baseline;
  flex-wrap: wrap;

}
.logo__inner {
  margin: 0;
  padding: 0;
  color: #222222;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1.2px;
}
.logo__text--bold {
  font-weight: 700;
  letter-spacing: 1.2px;

}
.nav__inner {
  margin: 0 0 0 auto;
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav__item {
  position: relative;
}
.nav__item:hover .dropdown,
.nav__item:focus .dropdown{
  display: block;
}
.nav__link {
  display: block;
  padding: 0 28px 30px;
  color: #222222;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;

}
.nav__link:hover,
.nav__link:focus,
.nav__link--active {
    color: #00c8c8;
    outline: 0;
}

.nav__search {
  margin: 0 0 0 5.6097%;
}
.search__input {
  padding: 0 10px;
  border: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  color: #989898;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 300;
  line-height: 27px;
}
.dropdown {
  display: none;
  position: absolute;
  max-width: 467px;
  padding: 30px;
  top: 46px;
  left: 28px;
  box-shadow: 0 17px 24px rgba(0, 0, 0, 0.14);
  z-index: 100;
  background-color: #f8f8f8;
}
.dropdown__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.dropdown__inner {
  display: flex;
}
.dropdown__wrapper {
  padding-bottom: 10px;
}
.dropdown__wrapper--left {
  margin-right: 86px;
}
.dropdown__item--header {
  margin-bottom: 33px;
  color: #575153;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}
.dropdown__link {
  color: #727272;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 300;
  line-height: 30px;
  text-decoration: none;
}
.dropdown__link:hover,
.dropdown__link:focus  {
  color: #00c8c8;
  outline: 0;
}
.banner__img {
  width: 407px;
  height: 200px;
}
.center {
  padding:  130px 12% 50px 12%;
}
.center__text {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
  color:  #575153;
  text-align: center;
  font-family: Montserrat;
  font-weight: 700;
  text-transform: uppercase;
}
.center__span {
  font-size: 25vw;
}
.center__span--left {
  margin:0 auto 0 0;
}
.center__span--right{
  margin:0 0 0 auto;
}
.center__span--center {
  margin: 0 auto;
}
.header-button {
  display: flex;
  padding: 0 15.7560%;
  padding-bottom: 122px;
}
.header-button__inner {
  margin: 0 0 0 auto;
}
.header-button__link--border {
  display: block;
  max-width: 342px;
  height: 100%;
  padding: 17px 32px;
  border: 2px solid #737373;
  color: #454647;
  text-align: center;
  font-family: Montserrat;
  font-size: 1.0123vw;
  font-weight: 400;
  text-transform: uppercase;
}

.main {
  margin-top: 110px;
}
.main-nav {
  padding: 0 6.7317%;

}
.main-nav__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

}
.main-nav__link {
  display: block;
  padding: 0 28px;
  color: #222222;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  text-decoration: none;
}

.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link--active {
    color: #00c8c8;
    outline: 0;
}
.content {
  display: flex;
  margin-top: 60px;
  padding: 0 6.7317%;
  padding-bottom:  40px;
  border-bottom: 1px solid #eeeeee;
}
.content__inner {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}
.card {
  position: relative;
  flex-grow: 1;
  max-width: 50%;
  padding: 10px;;
}
.card__inner {
  background-color: #f8f8f8;

}
.card__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;

}
.card--big {
  max-width: 100%;
  flex-grow: 2;
}

.card__price {
  position: absolute;
  top: 30px;
  left: 30px;
  color: #9a9a9a;
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: 300;
  text-transform: uppercase;
}
.card-menu {
  display: none;
  width: 100%;
  left: 0;
  position: absolute;
  z-index: 1;
  padding: 0 10px;

}
.card-menu__inner {
  text-decoration: none;
  background-color: #ffffff;
  padding: 20px 30px;
  box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.14);
}
.card__name {
  margin-top: 0;
  color: #727272;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}
.card__description {
  margin-top: 0;
  color: #727272;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
.card__list {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  display: flex;
  list-style: none;
  justify-content: center;
}
.card__item {
  margin: 0 10px;
}
.card__link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #727272;
}
.card__link:hover {
  background-color: #00c8c8;
}
.card__link--cart {
  background-image: url(../img/cart24x24.png);
  background-position: 3px center;
  background-repeat: no-repeat;
}
.card__link--heart {
  background-image: url(../img/heart-icon.png);
  background-position: 5px center;
  background-repeat: no-repeat;
}
.card__link--arrow {
  background-image: url(../img/arrow-icon.png);
  background-position: 5px center;
  background-repeat: no-repeat;
}
.card:hover .card__menu {
  display: block;

}
.card:hover .card__inner{
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.14);
}
.lookbook {
  margin-top: 62px;
}
.lookbook__inner {
  display: flex;
}
.lookbook__item {
  width: 33.3333%;
  flex-grow: 1;
  padding: 20px 20px 0 20px;
  background-color: #f8f8f8;
}
.lookbook__item:not(:last-child) {
  margin-right: 30px;
}
.lookbook__item-wrapper {
  display: flex;
}
.lookbook__item-inner {
  width: 50%;
  flex-grow: 2;
}

.lookbook__header {
  color: #575153;
  font-family: Montserrat;
  font-size: 2vw;
  font-weight: 300;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-align: right;

}

.lookbook__header--medium {
  font-weight: 300;
  letter-spacing: 2.4px;
}
.lookbook__text {
  margin: 0;
  padding: 0;
  color: #727272;
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 400;
  line-height: 22px;
  text-align: right;
}

.lookbook__item-inner--img {
  width: 30%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.lookbook__item-inner--men {
  background-image: url(../img/lookbook-man.png);
  background-position: 0 18px;

}
.lookbook__item-inner--women {
  background-image: url(../img/lookbook-women.png);
  background-position: 0 57px;
}

.lookbook__item-inner--shadow {
  background-image: url(../img/lookbook-shadow.png);
  background-position: 0 17px;
}

.lookbook__link {
  margin: 30px 0 130px auto;
  max-width: 180px;
  display: block;
  padding: 15px 0;
  text-align: center;
  border: 2px solid #737373;
  color: #454647;
  font-family: Montserrat;
  font-size: 0.8vw;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3.2px;
  text-decoration: none;
}
.lookbook__link:hover {
  background-color: #00c8c8;
  border-color: #00c8c8;
  color: #ffffff;
}

.footer {
  margin-top: 124px;
}
@media screen
  and (min-device-width: 800px)
  and (max-device-width: 1350px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    background-position: 4.48780% 52px;
  }
    .users {
    }
    .users__currency {
    margin: 0 auto;
    }
    .users__block {
      margin: 0 auto;
    }
    .users__cart {
      margin: 0 auto;
    }
    .nav {
      position: relative;
      padding-top: 50px;
    }
    .nav__logo {
      position: absolute;
      right: 40%;
      top: 17px;
    }
    .nav__link {
      padding: 0 16px;
    }
    .nav__inner {
      margin: 0 auto 0 0;
    }
    .nav__list {

    }
    .nav__search {
      margin: 0 0 0 auto;
    }
  }

@media screen
  and (min-device-width: 320px)
  and (max-device-width: 801px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .header {
    background-image: none;
    background-position: 149.4878% 156px;
  }
  .users {
    flex-direction: column;
  }
  .users__currency {
  margin: 0 auto;
  }
  .users__block {
    margin: 0 auto;
  }
  .users__cart {
    margin: 0 auto;
  }
  .nav {
    flex-direction: column;
  }
  .nav__logo {
    position: static;
    margin: 0 auto;
  }
  .logo__inner {
    text-align: center;
  }
  .nav__inner {
    margin: 0 auto;
  }
  .nav__list {
    flex-direction: column;
    align-items: center;

  }
  .nav__item {
    padding:  10px 0;

  }
  .nav__search {
    margin: 0 auto;
  }
  .center {
    padding-top:  0;
  }
  .header-button {
    display: block;
  }
  .header-button__link--border {
    width: 100%;
    margin: 0 auto;
    font-size: 15px;
  }

  .main {
    margin-top: 0;
  }
  .main-nav__list {
    flex-direction: column;
    align-items: center;
  }
  .main-nav__link {
    padding: 10px 0;
  }
  .lookbook__inner {
    flex-direction: column;
  }
  .lookbook__item {
    width: 100%;
    margin-top: 20px;
    padding: 0;
    background-color: none;
  }
  .lookbook__item-wrapper {
    padding: 20px 20px 0 20px;
    background-color: #f8f8f8;
}
  .lookbook__link {
    margin: 30px 0 50px auto;
  }
}
