html {
  box-sizing: border-box;
  font-family: 'Montserrat', Arial, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}
.header__item {
  display: flex;
  flex-wrap: wrap;
}
.users {
  background-color: #333333;
  padding:  0 19.5121%;
}
.users__block {
  display: flex;
}
.users__currency {
  margin:  0 auto 0 0;
  padding: 14px 17px 18px 17px;

}
.users__cart {
  height: 100%;
  margin: 0 0 0 4.0975%;
}
.currency__name {
  display: inline-block;
}
.currency__value {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 10px 0 11px;
}
.currency__icon {
  width: 8px;
  height: 8px;

}
.users__block {
  margin: 0 0 0 auto;
}
.register__link {
  display: block;
  padding: 14px 17px 18px 17px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.signin__link {
  display: block;
  padding: 14px 17px 18px 17px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
}
.signin__link--hover:hover,
.signin__link--hover:focus {
  background-color: #00c8c8;
  outline: 0;
  color: #ffffff;
}
.register__link--hover:hover,
.register__link--hover:focus {
  background-color: #00c8c8;
  color: #ffffff;
  outline: 0;
}
.cart__link {
  display: block;
  height: 100%;
  padding: 14px 24px 18px 22px;
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  vertical-align: baseline;
}
.cart__icon {
  display: inline-block;
}
.cart__icon--margin path{
  fill: #999999;
}
.cart__icon--margin {
    margin-right: 16px;
}
.cart__state {
  display: inline-block;
}

.cart__img {
  width: 20px;
  height: 17px;
  vertical-align: middle;
}
.cart__basket {
  vertical-align: bottom;
}
.cart__arrow {
  margin-left: 5px;
}
.cart__link--hover:hover,
.cart__link--hover:focus  {
  background-color: #00c8c8;
  color: #ffffff;
  outline: 0;
}
.cart__link--hover:hover  path,
.cart__link--hover:focus  path {
  fill: #ffffff;
}
.currency {
  position: relative;
}
.currency__name {
  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}
.currency__value {

  color: #999999;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  cursor: pointer;
}
.currency__dropdown {
  position: absolute;
  display: none;
  width: 50px;
  right: 29px;
  background:  #333333;
}
.currency__value--hover:hover {
  background: #00c8c8;
  color: #ffffff;
}
.currency:hover  .currency__dropdown {
  display: inline-block;
}

@media screen
  and (min-device-width: 320px)
  and (max-device-width: 800px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .users {
    flex-direction: column;
  }
  .users__currency {
  margin: 0 auto;
  }
  .users__block {
    margin: 0 auto;
  }
  .users__cart {
    margin: 0 auto;
  }



}
